<<<<<<< Updated upstream

h1 {
  text-align: center;
  font-size: 48px;
  font-family: 'Press Start 2P', cursive;
}

h6 {
  text-align: center;
  font-size: 22px;
  font-family: 'Press Start 2P', cursive;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50%;
  width: 50%;
  padding-top: 50px;

}

.container {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
}

* {
  box-sizing: border-box;
}

.img-container {
  float: left;
  width: 25%;
  padding: 1px;
  text-align: center;
}

.clearfix::after {
  content: "";
  clear: both;
  display: inline-block;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #a4c2f4; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  font-family: "Press Start 2P";
}

#myBtn:hover {
  background-color: #c8daf8; /* Add a light-blue background on hover */
}

#scratchGames {
  text-align: center;
  padding-bottom: 5px;
=======
body {
			min-width: 630px;
		}

h1 {
  text-align: center;
  font-size: 96px;
  font-family: press_start_2pregular;
}

h4 {
  text-align: center;
  font-size: 24px;
}
		/* #container {
			padding-left: 200px;
			padding-right: 190px;
		}

		#container .column {
			position: relative;
			float: left;
		}

		#center {
			padding: 10px 20px;
			width: 100%;
		}

		#left {
			width: 180px;
			padding: 0 10px;
			right: 240px;
			margin-left: -100%;
		}

		#right {
			width: 130px;
			padding: 0 10px;
			margin-right: -100%;
		}

		#footer {
			clear: both;
		}

    #container {
			overflow: hidden;
		}

		#container .column {
			padding-bottom: 1001em;
			margin-bottom: -1000em;
		}

    body {
  			margin: 0;
  			padding: 0;
  			font-family:Sans-serif;
  			line-height: 1.5em;
  		} */

p {
	font-family: 'press_start_2pregular', cursive;
>>>>>>> Stashed changes
}
